In [3]:
a = 20
print(a)

print(type(a), id(a))

20
<class 'int'> 140703763781000

In [4]:
name = "NISHAD"
print(name, type(name), id(name))

NISHAD <class 'str'> 2044233652016

In [5]:
d = None
print(f"Data : {d}\nData type : {type(d)}\nmemory location : {id(d)}")

Data : None
Data type : <class 'NoneType'>
memory location : 140703762312392

# 1. Arithmetic Operator

In [6]:
a = 12
b = 5

print(f"{a} + {b} = {a + b}")
print(f"{a} - {b} = {a - b}")
print(f"{a} * {b} = {a * b}")
print(f"{a} / {b} = {a / b}")
print(f"{a} // {b} = {a // b}")
print(f"{a} % {b} = {a % b}")
print(f"{a} ** {b} = {a  ** b}")

print(type(a), id(b))

12 + 5 = 17
12 - 5 = 7
12 * 5 = 60
12 / 5 = 2.4
12 // 5 = 2
12 % 5 = 2
12 ** 5 = 248832
<class 'int'> 140703763780520

# 2. Comparison Operator

In [7]:
a = 12
b = 5

print(f"a = {a}, b = {b}")
print(f"{a} == {b} : {a == b}")
print(f"{a} != {b} : {a != b}")
print(f"{a} < {b} : {a < b}")
print(f"{a} > {b} : {a > b}")
print( f"{a} <= {b} : {a <= b}")
print(f"{a} >= {b} : {a >= b}")
print(type(a), id(a))

a = 12, b = 5
12 == 5 : False
12 != 5 : True
12 < 5 : False
12 > 5 : True
12 <= 5 : False
12 >= 5 : True
<class 'int'> 140703763780744

# Output Formating

In [8]:
P = 100000
R = 10
T = 60

si = (P * R * T)/(100 * 12)

print(si)

50000.0

# 1. Normal Method

In [9]:
print("the simple interest for" , P, "at", R, '%', 'rate of interest for', T, 'month is', si)

the simple interest for 100000 at 10 % rate of interest for 60 month is 50000.0

## 2. F- String Method (formating string literal)

In [10]:
print(f"The simple Interest for {P} at {R}% rate of interest for {T} month is {si}")

The simple Interest for 100000 at 10% rate of interest for 60 month is 50000.0

# 3. Format Method

In [11]:
print("The simple interest for {} at {}% rate of interes for {} month is {}".format(P, R, T,si))

The simple interest for 100000 at 10% rate of interes for 60 month is 50000.0

# Area of Triangle

In [12]:
a = 25
b = 5
area = (a*b)/2
print(f"the are of triangle is {area}")

the are of triangle is 62.5

# Area of Rectangle

In [13]:
length = 10
breadth = 20

area = (length*breadth)
print(f"the Area of rectangle is {area}")

the Area of rectangle is 200

# Input python formating

In [14]:
a = input()
print(a, type(a), id(a))
a = int(a)
print(a, type(a), id(a))

45 <class 'str'> 2044234020208
45 <class 'int'> 140703763781800

In [15]:
a = int(input("Enter the first number :"))

b = int(input("Enter the second number :"))

print (f" the sum of {a} & {b} is {a+b}")

 the sum of 45 & 23 is 68