# Lists in Python

List Creation

In [1]:
li1 = [] 
li2 = list()
li3 = [1, 2, 3] 
li4 = list([5, 6, 7]) 

print(f"List 1 : {li1}\nData Type : {type(li1)}\nMemory Location : {id(li1)}\n") 
print(f"List 2 : {li2}\nData Type : {type(li2)}\nMemory Location : {id(li2)}\n") 
print(f"List 3 : {li3}\nData Type : {type(li3)}\nMemory Location : {id(li3)}\n") 
print(f"List 4 : {li4}\nData Type : {type(li4)}\nMemory Location : {id(li4)}")

List 1 : []
Data Type : <class 'list'>
Memory Location : 2363141836416

List 2 : []
Data Type : <class 'list'>
Memory Location : 2363141973440

List 3 : [1, 2, 3]
Data Type : <class 'list'>
Memory Location : 2363141965888

List 4 : [5, 6, 7]
Data Type : <class 'list'>
Memory Location : 2363141969792

Indexing

In [2]:
li = [10, 8, 2, 4, 1, 5, 20] 

print(li)

[10, 8, 2, 4, 1, 5, 20]

In [3]:
# First Element 

print(f"First Element : {li[0]}") # Prefered 
print(f"First Element : {li[-5]}")
print(f"First Element : {li[-len(li)]}") # prefered

First Element : 10
First Element : 2
First Element : 10

In [4]:
# Last Element 

print(f"Last Element : {li[-1]}") # Prefered 
print(f"Last Element : {li[4]}")
print(f"Last Element : {li[len(li) -1]}") # Prefered

Last Element : 20
Last Element : 1
Last Element : 20

In [5]:
print(li)

[10, 8, 2, 4, 1, 5, 20]

Slicing

In [6]:
print(f"Original List : {li}\n\nForward Indexing")

print(f"Frist 3 Elements : {li[0:3:1]}")
print(f"Last 3 Elements : {li[4:7:1]}")
print(f"Every Element Except First and Last : {li[1:6:1]}")

Original List : [10, 8, 2, 4, 1, 5, 20]

Forward Indexing
Frist 3 Elements : [10, 8, 2]
Last 3 Elements : [1, 5, 20]
Every Element Except First and Last : [8, 2, 4, 1, 5]

In [7]:
print(f"Original List : {li}\n\nNegative Indexing")

print(f"Frist 3 Elements : {li[-7:-4:1]}")
# print(f"Last 3 Elements : {li[]}")
# print(f"Every Element Except First and Last : {li[1:6:1]}")

Original List : [10, 8, 2, 4, 1, 5, 20]

Negative Indexing
Frist 3 Elements : [10, 8, 2]

In [8]:
print(f"{li[-1:-4:1]}")

[]

In [9]:
print(li[-3:-1:1] + [li[-1]])

[1, 5, 20]

In [10]:
li[5:1:-1]

[5, 1, 4, 2]

In [11]:
li[-2:-6:-1]

[5, 1, 4, 2]

In [12]:
li[-2:-6:-2]

[5, 4]

In [13]:
li[0:7:2]

[10, 2, 1, 20]

# Default values in the slicer

In [14]:
print(li[0:4:1])
print(li[0:4:])
print(li[:4:]) # Most Prefered 
print(li[:4])
# print(li[4:]) # problem

[10, 8, 2, 4]
[10, 8, 2, 4]
[10, 8, 2, 4]
[10, 8, 2, 4]

In [15]:
print(li[3:7:1])
print(li[3:7:])
print(li[3::])
print(li[3:]) # Not prefered

[4, 1, 5, 20]
[4, 1, 5, 20]
[4, 1, 5, 20]
[4, 1, 5, 20]

In [16]:
# Reverse a list 

print(li) 
print(li[::-1])

[10, 8, 2, 4, 1, 5, 20]
[20, 5, 1, 4, 2, 8, 10]

In [17]:
a = 1000 
b = 1000 

print(f"a = {a}, id = {id(a)}")
print(f"b = {b}, id = {id(b)}")

a = 1000, id = 2363141041808
b = 1000, id = 2363141041744

In [18]:
a, b = 1000, 1000

print(f"a = {a}, id = {id(a)}")
print(f"b = {b}, id = {id(b)}")

a = 1000, id = 2363141041936
b = 1000, id = 2363141041936

In [19]:
a = b = 1000 

print(f"a = {a}, id = {id(a)}")
print(f"b = {b}, id = {id(b)}")

a = 1000, id = 2363141043184
b = 1000, id = 2363141043184

In [20]:
print(li)

[10, 8, 2, 4, 1, 5, 20]

In [21]:
li[1] = 80

In [22]:
print(li)

[10, 80, 2, 4, 1, 5, 20]

In [23]:
li[-2] = 50

In [24]:
print(li)

[10, 80, 2, 4, 1, 50, 20]

In [25]:
# INsertion

In [26]:
# Inserting at the last position

In [27]:
li

[10, 80, 2, 4, 1, 50, 20]

In [28]:
# obj.method( )
# obj.attribute

In [29]:
print(li)

[10, 80, 2, 4, 1, 50, 20]

In [30]:
li.append(5000)

In [31]:
print(li)

[10, 80, 2, 4, 1, 50, 20, 5000]

In [32]:
li.insert(0, 10000)

In [33]:
print(li)

[10000, 10, 80, 2, 4, 1, 50, 20, 5000]

In [34]:
li.insert(5, 1010)

In [35]:
print(li)

[10000, 10, 80, 2, 4, 1010, 1, 50, 20, 5000]

In [36]:
# dELETION

In [37]:
# Index Based

In [38]:
li = [8, 2, 4, 1, 5] 

print(f"Original List : {li}")

# Removing the last Element : 

removed_number = li.pop() 

print(f"Updated List : {li}")

# Removing on the basis of index (0th index) 

removed_data = li.pop(0) 

print(f"Updated List : {li}")

Original List : [8, 2, 4, 1, 5]
Updated List : [8, 2, 4, 1]
Updated List : [2, 4, 1]

In [39]:
# Deletion - Element 

li = [8, 2, 4, 1, 5, 2] 
print(li) 

li.remove(2) 
print(li) 

# li.remove(1000)  
li.remove(5) 
print(li)

[8, 2, 4, 1, 5, 2]
[8, 4, 1, 5, 2]
[8, 4, 1, 2]

In [40]:
from typing import List

In [41]:
def remove_data(li : List[int], data : int) -> List[int]:
    pass

In [42]:
li = [8, 2, 1, 4, 5]

In [43]:
# Loops 

# Index based Looping 

for i in range(0, 5, 1):
    print(i, li[i])

0 8
1 2
2 1
3 4
4 5

In [44]:
for i in range(len(li)):
    print(f"Index : {i}, Data : {li[i]}")

Index : 0, Data : 8
Index : 1, Data : 2
Index : 2, Data : 1
Index : 3, Data : 4
Index : 4, Data : 5

In [45]:
for i in range(-1, -len(li) - 1, -1):
    print(f"Index : {i}, Data : {li[i]}")

Index : -1, Data : 5
Index : -2, Data : 4
Index : -3, Data : 1
Index : -4, Data : 2
Index : -5, Data : 8

In [46]:
for item in li:
    print(item)

8
2
1
4
5

In [47]:
for index, item in enumerate(li):
    print(f"Index : {index}, Data : {item}")

Index : 0, Data : 8
Index : 1, Data : 2
Index : 2, Data : 1
Index : 3, Data : 4
Index : 4, Data : 5

# LIST COMPREHENSION.

## Line seperated input.

In [48]:
subjects = ['Marathi', 'Mathematics', 'Science', 'Social Science', 'Hindi'] 
marks_list = [] 
for i in range(len(subjects)):
    marks = int(input(f"Enter the Marks for {subjects[i]} : "))
    marks_list.append(marks) 

print(f"Percentage : {sum(marks_list)/len(marks_list) : 0.2f}%")

ValueError: invalid literal for int() with base 10: ''

## Space seperated input.

In [ ]:
marks = input(f"Enter the 5 Subject marks in {subjects} order : ")
print(f"Marks string : {marks}, Data Type : {type(marks)}") 

marks_list = marks.split() 
print(f"Marks List : {marks_list}, Data Type : {type(marks_list)}")

final_list = [] 

for item in marks_list:
    final_list.append(int(item)) 

print(f"Final List : {final_list}, Data Type : {type(final_list)}")

In [ ]:
# get all the even numbers from 1 to 100 in a list 

# Extended Version 

li = [] 

for item in range(1, 101, 1):
    if item % 2 == 0:
        li.append(item) 

print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
new_list = [item for item in range(1, 101, 1) if item % 2 == 0]
print(new_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# Save all numbers from 1 to 30 in a list 

newli = [item for item in range(1, 31, 1) if item % 2 == 1]
print(newli)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
ans = [item for item in range(1, 101, 1) if item % 5 == 0]
print(ans)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [ ]:
# create a list such  that it has capital alphabets 

capital_alphabets = [chr(i) for i in range(ord("A"), ord("Z") + 1, 1)]
print(capital_alphabets)

small_alphabets = [chr(i) for i in range(ord("a"), ord("z") + 1, 1)]
print(small_alphabets)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
from typing import List

# function defintion and declaration

def firstIndex(li : List[int], n : int) -> int:
    for index in range(len(li)):
        if li[index] == n:
            return index
        
    else:
        return -1

    # Taking input from the user.

n = int(input("enter the number :"))
li = [int(item) for item in input("Enter the list elements :").split()]

# function call.

index = firstIndex(li, n)


# output display

if index == -1:
    print(f"{n} not found in {li}")

else:
    print(f"{n} found in {li} at index")

5 not found in [123456]

### map (function, iterable) apply a particular function on each elements of the iterable

In [ ]:
pip install numpy

Collecting numpy
  Downloading numpy-2.4.2-cp311-cp311-win_amd64.whl (12.6 MB)
     ---------------------------------------- 12.6/12.6 MB 4.2 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.4.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
pip install pandas

Collecting pandas
  Downloading pandas-3.0.0-cp311-cp311-win_amd64.whl (9.9 MB)
     ---------------------------------------- 9.9/9.9 MB 8.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.26.0 in c:\users\khan\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\khan\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\khan\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\khan\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pandas
Successfully installed pandas-3.0.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import numpy as np
import random

In [ ]:
li = [int(x) for x in np.random.randint(1, 10, 10)]
print(li)

[5, 1, 2, 9, 6, 8, 2, 6, 7, 2]

In [ ]:
squared_list = list(map(lambda x : x** 2, li))

print(f"original list : {li}\nsquared list : {squared_list}")

original list : [5, 1, 2, 9, 6, 8, 2, 6, 7, 2]
squared list : [25, 1, 4, 81, 36, 64, 4, 36, 49, 4]

In [ ]:
odd_even_bool = list(map(lambda x : True if x % 2 == 0 else False, li))

print(li)
print(odd_even_bool)

[5, 1, 2, 9, 6, 8, 2, 6, 7, 2]
[False, False, True, False, True, True, True, True, False, True]

In [ ]:
li = [int(x) for x in np.random.randint(1, 10, 10)]
odd_even_bool = list(map(lambda x : True if x % 2 == 0 else False, li))
even_list = []
odd_list = []


for index, item in enumerate(odd_even_bool):
    if item:
        even_list.append(li[index])
    else:
        odd_list.append(li[index])


print(li)
print(odd_even_bool)
print(even_list)
print(odd_list)

[6, 3, 7, 9, 6, 8, 6, 4, 6, 6]
[True, False, False, False, True, True, True, True, True, True]
[6, 6, 8, 6, 4, 6, 6]
[3, 7, 9]

In [ ]:
for item in odd_even_bool:
    print(item)

True
False
False
False
True
True
True
True
True
True

In [ ]:
li = [item for item in input().split()]
print(li)

[]

In [ ]:
final_list = list(map(int, input().split()))
print(final_list)

[]

In [ ]:
numeric_list = list(map(int, li))
print(numeric_list)

[]

### Filter(function, iterable)

#### filters the data based on a particular condition

In [ ]:
li = [int(x) for x in range(1, 11, 1)]

print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
odd_list = list(filter(lambda x : x % 2 != 0, li))
print(odd_list)

[1, 3, 5, 7, 9]

In [ ]:
first_name = ['nishad', 'abdul' ]
last_name = ['ahmad', 'samad']

full_name = list(map(lambda x, y : x + " " + y, first_name, last_name))

print(full_name)

['nishad ahmad', 'abdul samad']

In [ ]:
li = ["python", "java", "c++", "javascript"]

new_list = list(filter(lambda x : len(x) >= 5, li))

print(f"original list : {li}")
print(f"updated list : {new_list}")

original list : ['python', 'java', 'c++', 'javascript']
updated list : ['python', 'javascript']

### reduce(function, iterable)

#### Return a single value

In [ ]:
from functools import reduce

In [ ]:
li = [int(x) for x in range(1, 6, 1)]

print(li)

[1, 2, 3, 4, 5]

In [ ]:
ans = 0

for item in li:
    ans += item
    print(f"sum of all the element in {li} is {ans}")

sum of all the element in [1, 2, 3, 4, 5] is 1
sum of all the element in [1, 2, 3, 4, 5] is 3
sum of all the element in [1, 2, 3, 4, 5] is 6
sum of all the element in [1, 2, 3, 4, 5] is 10
sum of all the element in [1, 2, 3, 4, 5] is 15

In [59]:
# from functools import reduce

# li = [1, 2, 3, 4, 5]

solution = reduce(lambda x, y: x + y, li, 0)
print(solution)

print("sum of all the elements in the list")

solution = reduce(lambda x, y: x + y,list(map(int, input().split())),0)

print(f"The sum is {solution}")

15
sum of all the elements in the list
The sum is 0

In [60]:
solution = reduce(lambda x, y : x * y, list(map(int, input().split())), 1)

print(solution)

1

In [ ]:
li = [(0, 0), (1, 1)] 

n = int(input()) 
for item in range(n-1):
    print(f"Original List : {li}\nNew Element Calculated : {li[item][1]} + {li[item + 1][1]} = {li[item][1] + li[item + 1][1]}\nFinal Element : {(item + 2, li[item][1] + li[item + 1][1])}\n")
    li.append((item + 2, li[item][1] + li[item + 1][1])) 

print(li)

In [62]:
naruto = ["Orewa", "Namikaze", "Minato", "Shano", "Sharingan", "Ameterasu", "Mangekyou", "Sharingan", "Byakugan"] 

reduce(lambda x, y : x + " " + y, naruto)

'Orewa Namikaze Minato Shano Sharingan Ameterasu Mangekyou Sharingan Byakugan'

In [64]:
def add(a, b):
    return a + b

add = lambda a, b : a + b

add(1, 2)

3