# Lists in Python

List Creation

In [2]:
li1 = [] 
li2 = list()
li3 = [1, 2, 3] 
li4 = list([5, 6, 7]) 

print(f"List 1 : {li1}\nData Type : {type(li1)}\nMemory Location : {id(li1)}\n") 
print(f"List 2 : {li2}\nData Type : {type(li2)}\nMemory Location : {id(li2)}\n") 
print(f"List 3 : {li3}\nData Type : {type(li3)}\nMemory Location : {id(li3)}\n") 
print(f"List 4 : {li4}\nData Type : {type(li4)}\nMemory Location : {id(li4)}")

List 1 : []
Data Type : <class 'list'>
Memory Location : 2191969257856

List 2 : []
Data Type : <class 'list'>
Memory Location : 2191969179840

List 3 : [1, 2, 3]
Data Type : <class 'list'>
Memory Location : 2191969258944

List 4 : [5, 6, 7]
Data Type : <class 'list'>
Memory Location : 2191969184384

Indexing

In [3]:
li = [10, 8, 2, 4, 1, 5, 20] 

print(li)

[10, 8, 2, 4, 1, 5, 20]

In [8]:
# First Element 

print(f"First Element : {li[0]}") # Prefered 
print(f"First Element : {li[-5]}")
print(f"First Element : {li[-len(li)]}") # prefered

First Element : 10
First Element : 2
First Element : 10

In [9]:
# Last Element 

print(f"Last Element : {li[-1]}") # Prefered 
print(f"Last Element : {li[4]}")
print(f"Last Element : {li[len(li) -1]}") # Prefered

Last Element : 20
Last Element : 1
Last Element : 20

In [10]:
print(li)

[10, 8, 2, 4, 1, 5, 20]

Slicing

In [16]:
print(f"Original List : {li}\n\nForward Indexing")

print(f"Frist 3 Elements : {li[0:3:1]}")
print(f"Last 3 Elements : {li[4:7:1]}")
print(f"Every Element Except First and Last : {li[1:6:1]}")

Original List : [10, 8, 2, 4, 1, 5, 20]

Forward Indexing
Frist 3 Elements : [10, 8, 2]
Last 3 Elements : [1, 5, 20]
Every Element Except First and Last : [8, 2, 4, 1, 5]

In [17]:
print(f"Original List : {li}\n\nNegative Indexing")

print(f"Frist 3 Elements : {li[-7:-4:1]}")
# print(f"Last 3 Elements : {li[]}")
# print(f"Every Element Except First and Last : {li[1:6:1]}")

Original List : [10, 8, 2, 4, 1, 5, 20]

Negative Indexing
Frist 3 Elements : [10, 8, 2]

In [21]:
print(f"{li[-1:-4:1]}")

[]

In [28]:
print(li[-3:-1:1] + [li[-1]])

[1, 5, 20]

In [30]:
li[5:1:-1]

[5, 1, 4, 2]

In [31]:
li[-2:-6:-1]

[5, 1, 4, 2]

In [34]:
li[-2:-6:-2]

[5, 4]

In [35]:
li[0:7:2]

[10, 2, 1, 20]

# Default values in the slicer

In [46]:
print(li[0:4:1])
print(li[0:4:])
print(li[:4:]) # Most Prefered 
print(li[:4])
# print(li[4:]) # problem

[10, 8, 2, 4]
[10, 8, 2, 4]
[10, 8, 2, 4]
[10, 8, 2, 4]

In [51]:
print(li[3:7:1])
print(li[3:7:])
print(li[3::])
print(li[3:]) # Not prefered

[4, 1, 5, 20]
[4, 1, 5, 20]
[4, 1, 5, 20]
[4, 1, 5, 20]

In [53]:
# Reverse a list 

print(li) 
print(li[::-1])

[10, 8, 2, 4, 1, 5, 20]
[20, 5, 1, 4, 2, 8, 10]

In [57]:
a = 1000 
b = 1000 

print(f"a = {a}, id = {id(a)}")
print(f"b = {b}, id = {id(b)}")

a = 1000, id = 2191968415408
b = 1000, id = 2191968416880

In [68]:
a, b = 1000, 1000

print(f"a = {a}, id = {id(a)}")
print(f"b = {b}, id = {id(b)}")

a = 1000, id = 2191968416848
b = 1000, id = 2191968416848

In [61]:
a = b = 1000 

print(f"a = {a}, id = {id(a)}")
print(f"b = {b}, id = {id(b)}")

a = 1000, id = 2191968414032
b = 1000, id = 2191968414032

In [84]:
print(li)

[10, 8, 2, 4, 1, 5, 20]

In [86]:
li[1] = 80

In [87]:
print(li)

[10, 80, 2, 4, 1, 5, 20]

In [89]:
li[-2] = 50

In [90]:
print(li)

[10, 80, 2, 4, 1, 50, 20]

In [91]:
# INsertion

In [92]:
# Inserting at the last position

In [93]:
li

[10, 80, 2, 4, 1, 50, 20]

In [94]:
# obj.method( )
# obj.attribute

In [95]:
print(li)

[10, 80, 2, 4, 1, 50, 20]

In [100]:
li.append(5000)

In [101]:
print(li)

[10, 80, 2, 4, 1, 50, 20, 5000, 5000, 5000]

In [102]:
li.insert(0, 10000)

In [103]:
print(li)

[10000, 10, 80, 2, 4, 1, 50, 20, 5000, 5000, 5000]

In [104]:
li.insert(5, 1010)

In [105]:
print(li)

[10000, 10, 80, 2, 4, 1010, 1, 50, 20, 5000, 5000, 5000]

In [1]:
# dELETION

In [2]:
# Index Based

In [6]:
li = [8, 2, 4, 1, 5] 

print(f"Original List : {li}")

# Removing the last Element : 

removed_number = li.pop() 

print(f"Updated List : {li}")

# Removing on the basis of index (0th index) 

removed_data = li.pop(0) 

print(f"Updated List : {li}")

Original List : [8, 2, 4, 1, 5]
Updated List : [8, 2, 4, 1]
Updated List : [2, 4, 1]

In [10]:
# Deletion - Element 

li = [8, 2, 4, 1, 5, 2] 
print(li) 

li.remove(2) 
print(li) 

# li.remove(1000)  
li.remove(5) 
print(li)

[8, 2, 4, 1, 5, 2]
[8, 4, 1, 5, 2]
[8, 4, 1, 2]

In [11]:
from typing import List

In [13]:
def remove_data(li : List[int], data : int) -> List[int]:
    pass

In [14]:
li = [8, 2, 1, 4, 5]

In [20]:
# Loops 

# Index based Looping 

for i in range(0, 5, 1):
    print(i, li[i])

0 8
1 2
2 1
3 4
4 5

In [22]:
for i in range(len(li)):
    print(f"Index : {i}, Data : {li[i]}")

Index : 0, Data : 8
Index : 1, Data : 2
Index : 2, Data : 1
Index : 3, Data : 4
Index : 4, Data : 5

In [26]:
for i in range(-1, -len(li) - 1, -1):
    print(f"Index : {i}, Data : {li[i]}")

Index : -1, Data : 5
Index : -2, Data : 4
Index : -3, Data : 1
Index : -4, Data : 2
Index : -5, Data : 8

In [28]:
for item in li:
    print(item)

8
2
1
4
5

In [29]:
for index, item in enumerate(li):
    print(f"Index : {index}, Data : {item}")

Index : 0, Data : 8
Index : 1, Data : 2
Index : 2, Data : 1
Index : 3, Data : 4
Index : 4, Data : 5

# LIST COMPREHENSION.

## Line seperated input.

In [ ]:
subjects = ['Marathi', 'Mathematics', 'Science', 'Social Science', 'Hindi'] 
marks_list = [] 
for i in range(len(subjects)):
    marks = int(input(f"Enter the Marks for {subjects[i]} : "))
    marks_list.append(marks) 

print(f"Percentage : {sum(marks_list)/len(marks_list) : 0.2f}%")

## Space seperated input.

In [ ]:
marks = input(f"Enter the 5 Subject marks in {subjects} order : ")
print(f"Marks string : {marks}, Data Type : {type(marks)}") 

marks_list = marks.split() 
print(f"Marks List : {marks_list}, Data Type : {type(marks_list)}")

final_list = [] 

for item in marks_list:
    final_list.append(int(item)) 

print(f"Final List : {final_list}, Data Type : {type(final_list)}")

In [1]:
# get all the even numbers from 1 to 100 in a list 

# Extended Version 

li = [] 

for item in range(1, 101, 1):
    if item % 2 == 0:
        li.append(item) 

print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [2]:
new_list = [item for item in range(1, 101, 1) if item % 2 == 0]
print(new_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [4]:
# Save all numbers from 1 to 30 in a list 

newli = [item for item in range(1, 31, 1) if item % 2 == 1]
print(newli)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [5]:
ans = [item for item in range(1, 101, 1) if item % 5 == 0]
print(ans)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [6]:
# create a list such  that it has capital alphabets 

capital_alphabets = [chr(i) for i in range(ord("A"), ord("Z") + 1, 1)]
print(capital_alphabets)

small_alphabets = [chr(i) for i in range(ord("a"), ord("z") + 1, 1)]
print(small_alphabets)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']