## DICTIONARY

### Initialization

In [1]:
d1 = {}
d2 = dict()
d3 = {1 : 2, 3 : 4}
d4 = dict({5 : 6, 7 : 8})
d5 = dict([(10, 20), (20, 30), (50, 60)])

print(f"Dictionary 1 : {d1}\nMemory Location : {id(d1)}\nData Type : {type(d1)}\n")
print(f"Dictionary 1 : {d2}\nMemory Location : {id(d2)}\nData Type : {type(d2)}\n")
print(f"Dictionary 1 : {d3}\nMemory Location : {id(d3)}\nData Type : {type(d3)}\n")
print(f"Dictionary 1 : {d4}\nMemory Location : {id(d4)}\nData Type : {type(d4)}\n")
print(f"Dictionary 1 : {d5}\nMemory Location : {id(d5)}\nData Type : {type(d5)}\n")

Dictionary 1 : {}
Memory Location : 2102659588480
Data Type : <class 'dict'>

Dictionary 1 : {}
Memory Location : 2102659588544
Data Type : <class 'dict'>

Dictionary 1 : {1: 2, 3: 4}
Memory Location : 2102659588800
Data Type : <class 'dict'>

Dictionary 1 : {5: 6, 7: 8}
Memory Location : 2102659440256
Data Type : <class 'dict'>

Dictionary 1 : {10: 20, 20: 30, 50: 60}
Memory Location : 2102659589632
Data Type : <class 'dict'>

In [8]:
king = {
    "Name" : "Virat Kohli", 
    "Jersey No" : 18, 
    "Best Score" : 254, 
    "Best Performance" : ['Mohali', 'Melbourne'], 
    "Man Of The Series" : 32, 
    "No Of Centuries" : 85
}

In [9]:
print(king, type(king))

{'Name': 'Virat Kohli', 'Jersey No': 18, 'Best Score': 254, 'Best Performance': ['Mohali', 'Melbourne'], 'Man Of The Series': 32, 'No Of Centuries': 85} <class 'dict'>

In [10]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 85}

In [11]:
# Accessing 

king['Name']
king['No Of Centuries']

85

In [12]:
# Get method

king.get("Man Of The Match", "Key Not Found")

'Key Not Found'

In [13]:
# Updation 

king['No Of Centuries'] = 100

In [14]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 100}

In [15]:
# Insertion

king['wife'] = "Anushka sharma"

In [16]:
king['Nick Name'] = "chiku"

In [17]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 100,
 'wife': 'Anushka sharma',
 'Nick Name': 'chiku'}

In [18]:
king.pop("Nick Name")

'chiku'

In [19]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 100,
 'wife': 'Anushka sharma'}

In [20]:
king.popitem()

('wife', 'Anushka sharma')

In [21]:
king

{'Name': 'Virat Kohli',
 'Jersey No': 18,
 'Best Score': 254,
 'Best Performance': ['Mohali', 'Melbourne'],
 'Man Of The Series': 32,
 'No Of Centuries': 100}

In [24]:
# keys 

king.keys()

dict_keys(['Name', 'Jersey No', 'Best Score', 'Best Performance'])

In [25]:
for all_keys in king.keys():
    print(all_keys)

Name
Jersey No
Best Score
Best Performance

In [28]:
king.values()

dict_values(['Virat Kohli', 18, 254, ['Mohali', 'Melbourne']])

In [29]:
for value in king.values():
    print(value)

Virat Kohli
18
254
['Mohali', 'Melbourne']

In [30]:
king.items()

dict_items([('Name', 'Virat Kohli'), ('Jersey No', 18), ('Best Score', 254), ('Best Performance', ['Mohali', 'Melbourne'])])

In [31]:
a = (1, 2) 

print(a, type(a))

(1, 2) <class 'tuple'>

In [32]:
x, y = a

In [33]:
print(a,x, y)

(1, 2) 1 2

In [34]:
king.items()

dict_items([('Name', 'Virat Kohli'), ('Jersey No', 18), ('Best Score', 254), ('Best Performance', ['Mohali', 'Melbourne'])])

In [35]:
for item in king.items():
    key, value = item
    print(f"key = {key}, value = {value}")

key = Name, value = Virat Kohli
key = Jersey No, value = 18
key = Best Score, value = 254
key = Best Performance, value = ['Mohali', 'Melbourne']

In [36]:
for key, value in king.items():
    print(f"key = {key}, value = {value}")

key = Name, value = Virat Kohli
key = Jersey No, value = 18
key = Best Score, value = 254
key = Best Performance, value = ['Mohali', 'Melbourne']

In [37]:
squares_dict = {i : i ** 2 for i in range(1, 11, 1)}

In [38]:
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [39]:
even_squares = {i : i ** 2 for i in range(1, 11, 1) if i % 2 == 0}
print(even_squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [40]:
squares_structrue = [(i, i**2) for i in range(1,11,1) if i % 2 == 0]

In [41]:
squares_structrue

[(2, 4), (4, 16), (6, 36), (8, 64), (10, 100)]

In [42]:
a, b = 10, 20

print(a, b)

10 20

In [43]:
c = 10, 20

print(c, type(c))

(10, 20) <class 'tuple'>

In [44]:
# Membership 

d = {
    'a' : 1,
    'b' : 2
}

In [45]:
'a' in d

True

In [46]:
1 in d

False

In [47]:
'a' in d.keys()

True

In [48]:
'a' in d.values()

False

In [49]:
1 in d.values()

True

In [50]:
1 in d.keys()

False

In [51]:
d = {
    'd1' : {'a' : 1, 'b' : 2},
    'd2' : {'c' : 3, 'd' : 4}
}

In [52]:
d

{'d1': {'a': 1, 'b': 2}, 'd2': {'c': 3, 'd': 4}}

In [53]:
d.get('d2', "item not found").get("df", "item not found")

'item not found'

In [54]:
keys = ['a', 'b', 'c']

dictionary = dict.fromkeys(keys, 0)

print(dictionary)

{'a': 0, 'b': 0, 'c': 0}

In [55]:
dictionary['a'] = "NISHAD"

In [56]:
dictionary

{'a': 'NISHAD', 'b': 0, 'c': 0}

In [57]:
dictionary.keys()

dict_keys(['a', 'b', 'c'])

In [58]:
d1 = {
    'a' : 1,
    'b' : 2
}

d2 = {
    'c' : 3,
    'd' : 4
}

In [59]:
d1.update(d2)

In [60]:
d2

{'c': 3, 'd': 4}

In [61]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [62]:
d1 = {
    'a' : 1, 
    'b' : 2
}

d2 = {
    'b' : 3, 
    'c' : 4
}

In [63]:
d1.update(d2)

In [64]:
d2

{'b': 3, 'c': 4}

In [65]:
d1

{'a': 1, 'b': 3, 'c': 4}

## FREQUENCY COUNTING.

In [6]:
string = " Hard work is worthless for those that don't believe in themselves"

In [8]:
d = {}
for char in string:
    d[char] = d.get(char, 0) + 1

In [9]:
d

{' ': 11,
 'H': 1,
 'a': 2,
 'r': 4,
 'd': 2,
 'w': 2,
 'o': 5,
 'k': 1,
 'i': 3,
 's': 6,
 't': 6,
 'h': 4,
 'l': 3,
 'e': 8,
 'f': 1,
 'n': 2,
 "'": 1,
 'b': 1,
 'v': 2,
 'm': 1}

In [10]:
string = " Hard work is worthless for those that don't believe in themselves"

word_frequency = {}
character_frequency = {}

for char in string:
    character_frequency[char] = character_frequency.get(char, 0) + 1



for word in string.split():
    word_frequency[word] = word_frequency.get(word, 0) + 1

In [11]:
character_frequency

{' ': 11,
 'H': 1,
 'a': 2,
 'r': 4,
 'd': 2,
 'w': 2,
 'o': 5,
 'k': 1,
 'i': 3,
 's': 6,
 't': 6,
 'h': 4,
 'l': 3,
 'e': 8,
 'f': 1,
 'n': 2,
 "'": 1,
 'b': 1,
 'v': 2,
 'm': 1}